<main class="gallery-container">
    <mat-progress-spinner mode="indeterminate" class="spinner" *ngIf="loadingImages"></mat-progress-spinner>
    <cdk-virtual-scroll-viewport *ngIf="!loadingImages" [itemSize]="20">
      <ul class="gallery">
        <li class="image" *cdkVirtualFor="let image of galleryImages; templateCacheSize: 1">
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class= "hovereffect">
              <img class="img-responsive"
               [src]="getDisplayImageUrl(image.id)"
               matTooltip="{{ image.author_url }}"
               matTooltipPosition="above"
               matTooltipShowDelay="300" alt=""      
              />                
              <div class="overlay">
                <h3>Just add your desired image size after our URL and you'll get a random image.</h3>  
                
              </div>
              <b>{{image.author}}</b>
            </div>
          </div>   
        </li>
      </ul>  
    </cdk-virtual-scroll-viewport>
</main>